<footer>
    <mat-toolbar class="upper-row">
    <mat-toolbar-row class="row row-up">
        <a href="">Privacy Policy</a>
        <a href="">Digital Millennium Copyright Actc</a>
        <a href="">Terms of Service</a>
    </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="lower-row">
    <mat-toolbar-row class="row row-low">
        <div>
            <img class='logo' src="../../../assets/Group_1.png" alt="">
        </div>
        <div>
            <p>Any business-related queries or advertising, 
                please contact us at <strong>asurascanlations@gmail.com</strong></p>
        </div>
    </mat-toolbar-row>
    </mat-toolbar>
</footer>