<footer>
    <mat-toolbar class="upper-row">
    <mat-toolbar-row class="row row-up">
        <a href="">Privacy Policy</a>
        <a href="">Digital Millennium Copyright Act</a>
        <a href="">Terms of Service</a>
    </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="lower-row">
    <mat-toolbar-row class="row row-low">
        <div>
            <img class='logo' src="../../../assets/Group_1.png" alt="">
        </div>
        <p class="contact">
            Any business-related queries or advertising, 
            please contact us at AAAAAAAAAAAAAAA@gmail.com
        </p>
    </mat-toolbar-row>
    </mat-toolbar>
</footer>