<nav>
  <mat-toolbar class="upper-nav hide-small">
    <mat-toolbar-row class="nav-row">
      <img class="logo" src="../../../assets/Group_1.png" alt="" />
      <form class="big-form">
        <mat-icon class="icon">search</mat-icon>
        <mat-form-field hideRequiredMarker appearance="legacy">
          <mat-label>Search</mat-label>
          <input
            required
            type="text"
            placeholder="search"
            matInput
            [formControl]="SearchControl"
          />
        </mat-form-field>
      </form>
      <mat-slide-toggle class='big-toggle' [(ngModel)]="isbright"> </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="lower-nav hide-small">
    <mat-toolbar-row class="nav-row">
      <div class="lower-row-left">
        <button mat-button class="btns">Home</button>
        <button mat-button class="btns">Bookmarks</button>
        <button mat-button class="btns">Comics</button>
        <button
          mat-button
          #button
          [matMenuTriggerFor]="belowMenu"
          #menuTrigger="matMenuTrigger"
          (mouseenter)="buttonEnter(menuTrigger)"
          (mouseleave)="buttonLeave(menuTrigger, button)"
          class="btns lang-btn"
        >
          Language
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below" direction="down">
          <span
            (mouseenter)="menuenter()"
            (mouseleave)="menuLeave(menuTrigger, button)"
          >
            <button mat-menu-item class="lang-btns">Arabic</button>
            <button mat-menu-item class="lang-btns">English</button>
          </span>
        </mat-menu>
        <button mat-button class="btns">Login</button>
      </div>
      <div class="lower-row-right">
        <mat-icon class="icon">star</mat-icon>
        <button mat-button>Surprise Me!</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--- Mobile Navbar -->
  <div class="show-small">
    <div class="upper-small">
    <button
    mat-icon-button
    class="menu"
    aria-label="Example icon-button with menu icon"
    (click)="open_smallmenu()">
    <mat-icon>menu</mat-icon>
    </button>
    <img class="logo-small" src="../../../assets/Group_1.png" alt="" />
     <form class="small-form">
        <mat-icon class="icon-small">search</mat-icon>
        <mat-form-field hideRequiredMarker appearance="fill">
          <mat-label>Search</mat-label>
          <input
            required
            type="text"
            placeholder="search"
            matInput
            [formControl]="SearchControl"
          />
        </mat-form-field>
      </form>
      <mat-slide-toggle class='small-toggle' [(ngModel)]="isbright"> </mat-slide-toggle>
      <div class="small-menu" *ngIf="(smallmenu==true)">
        <button mat-button class="btns-small">Home</button>
        <button mat-button class="btns-small">Bookmarks</button>
        <button mat-button class="btns-small">Comics</button>
        <button mat-button class="btns-small">Language
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <button mat-button class="btns-small">English</button>
        <button mat-button class="btns-small">Arabic</button>
        <button mat-button class="btns-small">Login</button>
        <div class="suprise-me-small">    
          <button mat-button class="btn-small ">
          <mat-icon class="icon">star</mat-icon><span>Surprise Me!</span></button>
        </div>
    </div>  
    </div>


      </div>
</nav>
