.upper-nav 
    background : #0b0a0d
    overflow : hidden

.lower-nav
    overflow : hidden
    background : #913fe2
    margin-bottom : 15px
    max-height : 42px
    min-height : 42px
    
.nav-row
    box-sizing : border-box
    max-width : 1220px
    padding : 0 20px
    margin : 0 auto
    display : block
    line-height : 21px
    z-index : auto
    float : none
    position : relative
    
    
.logo
    position : absolute
    left : 10px
    top : 5px
    max-height : 50px
    max-width : 100%
    border-radius : 50%

.big-form
    position : absolute
    width : 200px
    right : 80px
    top : 0px
    color : rgb(255, 255, 255, 0.5)

.big-toggle
    position : absolute
    right : 20px
    top : 35%

.lang-btn
    z-index : 1050

.btns , .btns:active, .btns:focus
    background : #913fe2
    height : 100%
    color : white

.btns:hover
    background : #7428bf

.lang-btns, .lang-btns:active , .lang-btns:focus , .lang-btns:visited
    color : white
    height : 100%
    background : #913fe2

.lang-btns:hover 
    color : white
    background : #7428bf

.lower-row-left
    position : absolute
    left : 10px
    height : 100%
.lower-row-right
    position : absolute
    right : 20px
    top : 20%
    background : #7428bf
    font-size : 12px
    overflow : hidden
    color : white
    display : flex
    align-items : center
    justify-content : space-between
    max-height : 27px
    .icon
        position : relative
        left : 10px

.lower-row-right:hover
    color : #7428bf
    background : white

.hide-small
    @media screen and (max-width: 600px)
        display : none

.show-small
    display : none
    @media screen and (max-width: 600px)
        position : relative
        display : flex
        align-items : center
        justify-content : center
        flex-direction : column
        width : 100%
    .upper-small
        position : relative
        top : 0
        background : #913fe2
        left : 0
        width : 100%
        height : 50px
        button
            position : relative
            top : -10px
            color : white
            font-size : 15px
        .logo-small
            position : relative
            top : 5px
            max-height : 40px
            max-width : 40px
            border-radius : 50%
        .small-form
            display : inline
            overflow : hidden
            height : 20px
            color : white
            position : relative
            top : -5px
            left : 10px
            right : 0
            font-size : 12px
            mat-form-field
                width : 40%
                max-height : 20px
        .small-toggle
            position : absolute
            right : 15px
            top : 15px
            font-size : 12px


.small-menu
    background : #1c1c1c00
    z-index : 9999
    position : absolute
    overflow-x : hidden
    overflow-y : auto  
    max-height : 308px
    .btns-small
        text-align : left
        color : white
        display : inline-block
        position : relative
        background : rgba(28,28,28,0.95)
        width : 100%
        height : 42px


.suprise-me-small
    font-size : 12px
    display : flex
    align-items : center
    justify-content : center
    max-height : 36px
    .icon
        position : relative        
    button
        width : 100%
        background : #913fe2
        height : 100%

.suprise-me-small:hover
    .icon , span, button
        color : #913fe2
        background : white
    
