<div class="home-border">
    <div class="latest-update">
    <div class="upper-side">
        <h6>Latest Update</h6>
        <button mat-button >View ALL</button>
    </div>
    <hr>
    <div class="middle-side">
        <div class="cards" >
            <div class="card" >
                <img class='card-image' src="../../../assets/daughterbosscover.jpg" alt="">
                <h6>card.name</h6>
                <ul >
                    <li>
                        card.chapter[3]
                    </li>
                    <li>
                        card.chapter[2]
                    </li>
                    <li>
                        card.chapter[1]
                    </li>
                </ul>
            </div>
        </div>
        <!--this is how it should be like later on...-->
        <!-- <div class="cards" *ngIf="">
            <div class="card" *ngFor="">
                <img src="" alt="">
                <h6>card.name</h6>
                <ul *ngIf="">
                    <li *ngFor="">
                        card.chapter[1-3]
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="lower-side">
        <button mat-button >Next
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
</div>